<% if user_signed_in? %>

  <h1>Welcome <span style="color: #B00100"><%= current_user.name %></span></h1>
  <%= button_to 'Logout', destroy_user_session_path, method: 'delete' %>
  <%= link_to 'instruments', instruments_path, method: 'get' %>

<% else %>
  <%= link_to 'Login', new_user_session_path, method: :get %>
  <%= link_to 'Register', new_user_registration_path, method: :get %>
<% end %>


